
*.zip
.phpunit.cache/**
.phpunit.result.cache
/.claude
/.commandcode
/tests/**/fixtures/**/output.txt
/tests_x
/TestsX
/vendor
/WikiParsetests
app/Fix/helps_bots/input.txt
app/Fix/helps_bots/output.txt
composer.lock
src/resources/revisions/1503213/wikitext.txt
tests/app/Fix/infoboxes/fixtures/infobox2_tempse/output.json
tests/fix.py
wikibots/save.php
z.php
