py_to_php1.zip
wikibots/save.php
/TestsX
/vendor
.phpunit.result.cache
/WikiParsetests
/tests_x
composer.lock
tests/Bots/texts/es_refs_output_fixed.txt
tests/infoboxes/texts_infobox2/infobox2_fixed.txt
tests/infoboxes/texts_infobox2/infobox2_tempse_fixed.json
src/helps_bots/input.txt
src/helps_bots/output.txt
/tests/texts
z.php
/.claude
